<div id="demo" class="collapse dropdown-content">
<ul class="nav-content">
<li class="nav-menu"><%= link_to "------ Sign in", new_user_session_path %></li>
<li class="nav-menu"><%= link_to "------ Create an account", new_user_registration_path  %></li>
<li class="nav-menu"><%= link_to "------ Offer a meal", new_meal_path %></li>
<li class="nav-menu"><%= link_to "------ View orders", orders_path %></li>
<li class="nav-menu"><%= link_to "------ Logout", destroy_user_session_path, data:{turbo_method: :delete} %></li>
</ul></div>
