<div class="top-nav">
  <div class="box index-container wrap">
    <div class="social">
      <p>SHARE A MEAL, SHARE A CULTURE. Get a taste of homecooked meals.</p>
    </div>
    <div>
      <ul class="social">
        <li><i class="fa-brands fa-facebook-f"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-telegram"></i></li>
      </ul>
    </div>
  </div>
</div>

<%# main contain after pink bar %>

<%# Navigation bar %>
<div class="index-container wrap">
  <div class="topnav">
    <div class="user-guide d-flex">
    <% if current_user %>
      <button class="fa-solid fa-circle-user fa-2x collapsible d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#demo" aria-expanded="false" aria-controls="collapseExample">
      </button>
      <div class="user-message d-flex m-3 align-items-center">
          Welcome, <%= current_user.first_name %>!
      </div>
    <% else %>
      <button class="fa-regular fa-circle-user fa-2x collapsible d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#demo" aria-expanded="false" aria-controls="collapseExample">
      </button>

    <% end %>
    </div>
    <div class="title">
      <%# <img src="https://res.cloudinary.com/ddaoe4tdm/image/upload/v1668531915/tastehome2_msqitj.png" width="160px"> %>
      <%= link_to meals_path do %>
        <%= image_tag("https://res.cloudinary.com/ddaoe4tdm/image/upload/v1668531915/tastehome2_msqitj.png", width: 160) %>
      <% end %>
    </div>
    <div class="cart position-relative">
      <%# adding offcanvas here %>
      <button class="btn app-icon fa-stack position-absolute" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" data-count="<% if current_user %>
      <%= pending.count%><% else %>0<% end %>"></button>
        <button class="btn fa-solid fa-bell fa-2x" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"></button>
      </span>
    </div>
  </div>
</div>

<%# Dropdown menu %>
<div id="demo" class="collapse dropdown-content">
  <ul class="nav-content wrap">
    <% if current_user %>
      <% else %>
    <div class="d-flex justify-content-start mb-1">
      <li class="nav-menu text-center">
        <%= link_to new_user_session_path do %>
          SIGN IN <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </li>
    </div>
    <div class="d-flex justify-content-start mb-1">
      <li class="nav-menu">
        <%= link_to new_user_registration_path do %>
          CREATE ACCOUNT <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </li>
    </div>
    <% end %>
    <div class="d-flex justify-content-start mb-1">
      <li class="nav-menu">
        <%= link_to new_meal_path do %>
          OFFER MEAL <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </li>
    </div>
    <div class="d-flex justify-content-start mb-1">
      <li class="nav-menu">
        <%= link_to mine_meals_path do %>
          MY MENU <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </li>
    </div>
    <div class="d-flex justify-content-start mb-1">
      <li class="nav-menu">
        <%= link_to orders_path do %>
          VIEW ORDERS <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </li>
    </div>
    <% if current_user %>
      <div class="d-flex justify-content-start mb-1">
        <li class="nav-menu">
          <%= link_to destroy_user_session_path, data:{turbo_method: :delete} do %>
            LOG OUT <i class="fa-solid fa-chevron-right"></i>
          <% end %>
    <% else %>
        </li>
    <% end %>
      </div>
  </ul>
</div>
