

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

  <%# header %>
  <div class="canvas-row">
    <button type="button" class="canvas-button fa-solid fa-chevron-left text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <h5 class="canvas-title">Pending orders</h5>
  </div>
  <%# body %>
  <div class="canvas-container">
      <%= link_to orders_path do %>
        <button type="button" class="btn login-btn">View all orders</button>
      <% end%>

    <% sales.each do |order| %>
      <div class="canvas-body d-flex mt-4">
        <div class="d-flex">
          <% if order.status == 'pending' %>
            <div class="card-category d-flex" style="width: 80px; height: 100px; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url('<%= cl_image_path order.meal.photo.key,crop: :fill %>')">
            </div>
            <div class="canvas-meal d-flex">
              <div class="card-body mt-1">
              <h5><%= order.meal.name %></h5>
              <h6 class="price">$<%= order.meal.price %></h6>
              </div>
            <%= simple_form_for order, html: { class: "d-flex align-items-center m-1" } do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
              <%= f.button :submit, 'Accept', class: "btn btn-success btn-sm" %>
            <% end %>
            <%= simple_form_for order, html: { class: "d-flex align-items-center m-1" } do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.button :submit, 'Reject', class: "btn btn-danger btn-sm" %>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
    <% end%>
    </div>

    </div>
</div>
