<div class="container">
  <h2 class="page-title">Your Orders</h2 class="page-title">

  <h3 class="mb-3">Purchases</h3>
  <% if @purchases.empty? %>
    <p>You have no purchases.</p>
  <% else %>
    <table class="table table-bordered border-2 border-white align-middle">
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Name of Meal</th>
        <th scope="col">Date Ordered</th>
        <th scope="col">Order Status</th>
        <th scope="col">Seller's Comments</th>
      </tr>
      <% @purchases.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= link_to order.meal.name, meal_path(order.meal) %></td>
          <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
          <td><%= order.status.capitalize %></td>
          <td><%= order.comment %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br>
  <hr>

  <h3 class="mb-3">Sales</h3>
  <% if @sales.empty? %>
    <p>You have no sales.</p>
  <% else %>
    <table class="table table-bordered border-2 border-white align-middle">
      <tr>
        <th>Order Id</th>
        <th>Name of Meal</th>
        <th>Date Ordered</th>
        <th>Name of Buyer</th>
        <th>Order Status</th>
        <th>My Comments</th>
      </tr>
      <% @sales.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.meal.name %></td>
          <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
          <td><%= "#{order.buyer.first_name} #{order.buyer.last_name}" %></td>
          <td><%= order.status.capitalize %> <i class="fa-solid fa-pen-to-square edit-link"></i></td>
          <td>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br>
</div>
