<div class="container">
  <h2 class="page-title">Your Orders</h2 class="page-title">

  <h3 class="mb-3">Purchases</h3>
  <% if @purchases.empty? %>
    <p>You have no purchases.</p>
  <% else %>
    <table class="table table-bordered border-2 border-white align-middle">
      <tr>
        <th scope="col" style="width: 7%">Order Id</th>
        <th scope="col" style="width: 30%">Name of Meal</th>
        <th scope="col" style="width: 17%">Date Ordered</th>
        <th scope="col" style="width: 16%">Order Status</th>
        <th scope="col" style="width: 30%">Seller's Comments</th>
      </tr>
      <% @purchases.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= link_to order.meal.name, meal_path(order.meal) %></td>
          <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
          <td><%= order.status.capitalize %></td>
          <td><%= order.comment %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br>
  <hr>

  <h3 class="mb-3">Sales</h3>
  <% if @sales.empty? %>
    <p>You have no sales.</p>
  <% else %>
    <div class="table-responsive-md">
      <table class="table table-bordered border-2 border-white align-middle">
        <tr>
          <th style="width: 7%">Order Id</th>
          <th style="width: 21%">Name of Meal</th>
          <th style="width: 17%">Date Ordered</th>
          <th style="width: 17%">Name of Buyer</th>
          <th style="width: 17%">Order Status</th>
          <th style="width: 21%">Comments to Buyer</th>
        </tr>
        <% @sales.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.meal.name %></td>
            <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= "#{order.buyer.first_name} #{order.buyer.last_name}" %></td>
            <td data-controller="display-buttons">
              <span data-display-buttons-target="initial">
                <%= order.status.capitalize %>
                <% if ['completed', 'rejected'].exclude? order.status %>
                  <i data-action="click->display-buttons#display" class="fa-solid fa-pen-to-square edit-link"></i>
                <% end %>
              </span>
              <div data-display-buttons-target="buttons" class="d-none">
                <div class="d-flex">
                <% if order.status == 'pending' %>

                    <%= simple_form_for order, html: { class: "d-flex align-items-center me-2" } do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.button :submit, 'Accept', class: "btn btn-success" %>
                    <% end %>
                    <%= simple_form_for order, html: { class: "d-flex align-items-center" } do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                      <%= f.button :submit, 'Reject', class: "btn btn-danger" %>
                    <% end %>
                  </div>

                <% elsif  order.status == 'accepted' %>

                  <%= simple_form_for order, html: { class: "d-flex align-items-center me-2" } do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'completed'} %>
                    <%= f.button :submit, 'Mark as completed', class: "btn btn-primary" %>
                  <% end %>

                <% end %>
              </div>
              </td>
            <td data-controller="edit-comment">
              <span data-edit-comment-target="initial">
                <%= order.comment %>
                <i data-action="click->edit-comment#display" class="fa-solid fa-pen-to-square edit-link"></i>
              </span>
              <div data-edit-comment-target="field" class="d-none">
                <%= simple_form_for order, html: { class: "d-flex align-items-center" } do |f| %>
                  <%= f.input_field :comment %>
                  <%= f.button :submit, class: "d-none" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <br>
</div>
