<h1>Your Orders</h1>
<br>
<h2>Purchases</h2>
<% @purchases.each do |order| %>
  <p><%= order.meal.name %></p>
  <p><%= order.status.capitalize %></p>
<% end %>
<hr>
<h2>Sales</h2>
<% @sales.each do |order| %>
  <p><%= order.meal.name %></p>
  <p><%= order.created_at.strftime('%d/%m/%Y') %></p>
  <p><%= order.buyer.first_name %></p>
  <p><%= order.status.capitalize %></p>
<% end %>
