<div class="main-title">
  <h2 class="text-center">All Meals</h2>
</div>

<div class="search-bar d-flex pb-4">
  <%= form_with url: meals_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control fs-5 search-form-style",
      placeholder: "Find a meal"
    %>
    <%= button_tag nil, class: "btn btnshow fs-5 mx-3" do%>
      <i class="fa-solid fa-magnifying-glass"></i> Search
    <% end %>
  <% end %>
</div>

<% if params[:query].present? %>
  <div class="text-center fs-5">
    <%= link_to "CLEAR FILTERS", meals_path, class: "text-black" %>
  </div>
<% end %>


<%# cards %>
<section class="card-container wrap mt-4">
<% @meals.each do |meal|%>
  <%= link_to meal_path(meal), class: "text-decoration-none" do %>
    <div class="card border-0">
      <div class="image">
        <div class="card-category" style="height: 50vh; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url('<%= cl_image_path meal.photo.key,crop: :fill %>')">
        </div>
      </div>
      <div class="card-body mt-1">
        <h5 class="card-title"><%= meal.name %></h5>
        <h6 class="bottom-right">$<%= sprintf('%.2f', meal.price) %></h6>
      </div>
    </div>
  <% end %>
<% end %>
</section>
