

<%= render "devise/shared/navbar" %>


<div class="main-title">
  <h2 class="text-center">All Meals</h2>
</div>

<%# cards %>
<section class="card-container wrap ">
<% @meals.each do |meal|%>
  <div class="card border-0 ">
    <div class="image">
      <%= link_to meal_path(meal) do %>
        <div class="card-category" style="height: 400px; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url('<%= cl_image_path meal.photo.key, height: 400, width: 400, crop: :fill %>')">
        </div>
      <% end %>
      <div class="card-img-overlay">
        <h6 class="bottom-right">$<%= meal.price %></h6>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title">
      <%= meal.name %>
      </h5>
      <div id="textbox">
      </div>
    </div>
  </div>
<% end %>
</section>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
