
<div class="top-nav">
  <div class="box index-container">
    <div class="social">
      <p>SHARE A MEAL, SHARE A CULTURE. get a taste of homecooked blachblahblah</p>
    </div>
    <div>
      <ul class="social">
      <li><i class="fa-brands fa-facebook-f"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
      <li><i class="fa-brands fa-facebook-f"></i></li>
      <li><i class="fa-brands fa-facebook-f"></i></li>
      </ul>
    </div>
  </div>
</div>

<%# main contain after pink bar %>

<div class="index-container">
<%# Navigation bar %>
<div class="topnav">
  <div><button class="fa-regular fa-circle-user fa-2x collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#demo" aria-expanded="false" aria-controls="collapseExample">
  </button></div>
   <div class="title"><img src="https://res.cloudinary.com/ddaoe4tdm/image/upload/v1668531915/tastehome2_msqitj.png" width="180px"></div>
<div class="cart"><i class="fa-solid fa-bag-shopping fa-2x"></i></div>

</div>

</div>

<%= render "devise/shared/navbar" %>


<div class="main-title">
  <h2 class="text-center">All Meals</h2>
</div>

<%# cards %>
<section class="card-container wrap ">
<% @meals.each do |meal|%>
  <%= link_to meal_path(meal), class: "text-decoration-none" do %>
    <div class="card border-0 ">
      <div class="image">
        <div class="card-category" style="height: 400px; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url('<%= cl_image_path meal.photo.key, height: 400, width: 400, crop: :fill %>')">
        </div>
        <div class="card-img-overlay">
          <h6 class="bottom-right">$<%= meal.price %></h6>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">
        <%= meal.name %>
        </h5>
      </div>
    </div>
  <% end %>
<% end %>
</section>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
