<div class="main-title">
  <h2 class="text-center">My Menu</h2>
</div>

<section class="card-container wrap justify-content-center align-items-center">
<% if @meals.empty? %>
  <p>You do not have any meals listed.</p>
<% else %>
  <% @meals.each do |meal|%>
    <%= link_to meal_path(meal), class: "text-decoration-none" do %>
      <div class="card border-0 ">
        <div class="image">
          <div class="card-category" style="height: 50vh; background-image: url('<%= cl_image_path meal.photo.key, height: 400, width: 400, crop: :fill %>')">
          </div>
          <div class="card-body mt-1">
            <h5 class="card-title"><%= meal.name %></h5>
            <h5 class="bottom-right">$<%= sprintf('%.2f', meal.price) %></h5>
          </h5>
        </div>
      </div>
          <div class="card-img-overlay">
            <%# <h6 class="bottom-right">$<%= meal.price %>
          </div>
        </div>



      </div>
    <% end %>
  <% end %>
<% end %>
</section>
