<div class="main-title">
  <h2 class="text-center">Welcome back</h2>
  <h6 class="login-text">Enter your login details below.</h6>
</div>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
  <div class="form-inputs text-input-label form-floating">
    <%= f.input :email,
                required: false,
                label: false,
                autofocus: true,
                placeholder: "EMAIL",
                input_html: { autocomplete: "email", class: "border-0 rounded-0 label-style" }%>
    <%= f.input :password,
                required: false,
                label: false,
                placeholder: "PASSWORD",
                input_html: { autocomplete: "current-password", class: "border-0 rounded-0 label-style" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable?%>

    <%= f.button :submit, "SIGN IN", class: "login-btn border-0" %>

  </div>


<% end %>

<div class="text-input-label devise-links">
   <%= render "devise/shared/links" %>
</div>
